#first{
-fx-background-color:#d3d3d3;
}
#second{
-fx-background-color:#bdbdbd;
}
#AnchorPane{
-fx-background-color: #545454;
}
.button{
    -fx-background-color:grey;
    -fx-border-color: black;
    -fx-margin: 0 0 0 50;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-text-fill:white;
    -fx-text-alignment: left;
}
.button:hover{
    -fx-background-color:#4d4d4d;

}